.document-title {
  padding: 10px 0px;
}

.btn-save {
  padding: 20px;

  .MuiButton-root {
    background-color: #fcc121;
    color: #33393D;
    font-weight: 500;
   }
}

.fab {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;

  .fab-add {
    color: #33393D;
    background-color: #fcc121;
  }
}
